.movies {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    &__item {
        width: 33.3333%;
        padding-right: 40px;
        padding-bottom: 40px;
    }
    &__notFound {
        margin: 200px 0;
    }
}
