@import 'Src/vars.scss';
.toggle-button {
    margin-left: 10px;
    border-radius: 4px;
    overflow: auto;
    float: left;
    cursor: pointer;
    &__text {
        text-align: center;
        display: block;
        cursor: pointer;
        text-transform: uppercase;
        padding: 8px 20px;
        background: #444;
        color: #fff;
    }
    &__input {
        position: absolute;
        top: -500px;
        &:checked + span {
            background: $accent-color;
        }
    }
}
