.searchPage-info {
    padding: 10px 80px;
    background: #f6f6f6;
    display: flex;
    justify-content: space-between;
    &__text {
        font-weight: 700;
        font-size: 18px;
    }
    &__right {
        display: flex;
        align-items: center;
    }
    &__toggleContainer {
        margin-left: 16px;
    }
    &__toggleButton {
        margin-left: 26px;
        &:first-child {
            margin-left: 0;
        }
    }
}
